{% extends 'test.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} Goccina {% trans 'Proje Çizim' %} {% endblock %}
{% block content %}
<section style=" " id="full-width-content">
		<article id="post-446"><hr>
<p><strong><em>Evlerinizi yaşayan bir sanat eserine dönüştürüyoruz…</em></strong></p>
<p>İç mimarlarımız eşliğindeki teknik ekibimiz mekanınıza misafir olup, ücretsiz keşif yapmaktadır. Teknik ekibimiz, iç mekan çizimlerinde birçok ayrıntıyı göz önünde bulundurarak, istenilen mekan için doğru renk ve modelleri bir araya getirmekte; söz konusu mekanınızı dikkat çekici; sınır tanımayan bir mekana dönüştürmektedir.</p>
<hr>
<p>Uzman ve deneyimli kadromuzun sizlere sunduğu profesyonel proje çizim hizmeti;</p>
<ul>
<li>Otel</li>
<li>Villa</li>
<li>Rezidans</li>
<li>&nbsp;Hastane</li>
<li>Ticaret Merkezi</li>
<li>Restaurant</li>
<li>Okul</li>
</ul>
<p>gibi mekanları kapsamaktadır.</p>
<hr>
<p>Goccina, kendi üslubuyla söz konusu mekanlarınıza değer katmaktadır.</p>
<p>Siz de, söz konusu hizmetimizden yararlanmak istiyorsanız, lütfen bizimle iletişime geçmenizi rica ederiz.</p>

		</article>
	</section>
{% endblock %}