{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} Goccina {% trans 'Proje Çizim' %} {% endblock %}
{% block additionalcss %}
<style>
	@media screen and (max-width: 480px) {
    #page {
    	margin-top: 40px !important;
    }
    .dfer {
		display: none;
    }
}
#menu-item-435 {
	background-color: #c5b358;
	padding: 2px;
}
#menu-item-435 strong {
	color: #000 !important;
	text-shadow: 1px 1px 11px #000;
}
</style>

{% endblock %}
{% block content %}
<section id="page" class="wrapper" style="margin-top:232px">
<section style=" " id="full-width-content">
		<article id="post-446"><hr>
<p><h3><em>Evlerinizi yaşayan bir sanat eserine dönüştürüyoruz…</em></h3></p>
<p>İç mimarlarımız eşliğindeki teknik ekibimiz mekanınıza misafir olup, ücretsiz keşif yapmaktadır. Teknik ekibimiz, iç mekan çizimlerinde birçok ayrıntıyı göz önünde bulundurarak, istenilen mekan için doğru renk ve modelleri bir araya getirmekte; söz konusu mekanınızı dikkat çekici; sınır tanımayan bir mekana dönüştürmektedir.</p>
<hr>
<p>Uzman ve deneyimli kadromuzun sizlere sunduğu profesyonel proje çizim hizmeti;</p>
<ul>
<li>Otel</li>
<li>Villa</li>
<li>Rezidans</li>
<li>&nbsp;Hastane</li>
<li>Ticaret Merkezi</li>
<li>Restaurant</li>
<li>Okul</li>
</ul>
<p>gibi mekanları kapsamaktadır.</p>
<hr>
<p>Goccina, kendi üslubuyla söz konusu mekanlarınıza değer katmaktadır.</p>
<p>Siz de, söz konusu hizmetimizden yararlanmak istiyorsanız, lütfen bizimle iletişime geçmenizi rica ederiz.</p>

		</article>
	</section>
	</section>
{% endblock %}